<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Product Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/admin/products}">Product Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
             <a class="nav-link" th:href="@{/admin/order/orderManagement}">Quản lý đơn hàng</a>
               
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/products}">Quản lý sản phẩm</a>
            </li>

        </ul>
         <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/category}">Quản lý danh mục sản phẩm</a>
            </li>

        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1>Quản lý danh mục sản phẩm </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/admin/category/addCategory}" class = "btn btn-primary btn-sm mb-3"> Thêm Danh Mục</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
        
            <th> Số thứ tự</th>
            <th> Tên Danh Mục</th>

            <th> Action </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "category, index: ${categorys}">
        	 <td th:text=${index.count}></td> 
            <td th:text = "${category.tenCategory}"></td>
            <td>
                <a th:href = "@{/admin/category/edit/{id}(id=${category.id})}" 
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/admin/category/delete/{id}(id=${category.id})}" 
                   class = "btn btn-danger">Delete</a>

            </td>
         
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>